/.metadata/
.DS_Store
.DS_Store
.DS_Store
JEDI-DELTA-Practice-Project/.DS_Store
JEDI-DELTA-Practice-Project/.metadata/.lock
JEDI-DELTA-Practice-Project/.DS_Store
JEDI-DELTA-Practice-Project/.metadata/.lock_info
JEDI-DELTA-Practice-Project/.metadata/.log
*.zip
*.json
JEDI-DELTA-Practice-Project/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
*.version
*.index
*.tree
*.resources
*.prefs
*.xmi
JEDI-DELTA-Practice-Project/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
JEDI-DELTA-Practice-Project/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
JEDI-DELTA-Practice-Project/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.txt
JEDI-DELTA-Practice-Project/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.dat
*.xml
*.ser
*.log
*.properties
*.ini
.DS_Store
